baseURL = "http://localhost/"
languageCode = "vi"
title = "Chào bạn đến với hành trình của tôi"
theme = "PaperMod"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 2
